*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"Merriweather" ;
    src: url(/fonts/Merriweather-Regular.ttf);
}
@font-face {
    font-family:"Mulish" ;
    src: url(/fonts/Mulish-VariableFont_wght.ttf);
}

a{
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}


h1{
    font-family:"Merriweather";
    font-size: 1rem;
}

a{
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(216, 26, 26);
}


button:hover,
a:hover{
cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
