header a i{
    text-shadow: 0 0 0.5rem hsl(0 0% 0% / 70%);
}

.details__body{
    position: relative;
    max-width:58rem ;
    margin-inline: auto;

}

.hero img{
    min-height: 10rem;
}

.movie__details__info>*,
.movie__details__description__title,
.video__title{
    margin-bottom: 1rem;
}

.movie__details__info{
    padding: 1rem 1rem 0 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    top: 89.35%;
    width: 100%;
}

.details__header__nav{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 1rem;
    width: 100%; /* Ensures it takes full width of the parent */
    left: 0; /* Align to the left edge of the parent */
    right: 0;
    top: 2%;
}


.details__movie__specs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.details__movie__specs__title{
    color: var(--grey-text-color);
}
.details__movie__specs__content{
   font-weight: bold;
}

iframe{
    min-height: 13rem;
}

/* ---------------------------------------CAST---------------------------- */
.cast__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0.5rem;
}

.cast__card:nth-child(n+5){
   display: none;
}

.cast__img__container{
    height: min(23.5vw, 12rem);
}

.cast__btn--hidden{
    display: none;
}

.show__less__btn {
    margin-block: 0.5rem;
    margin-left: 75%;
}


.saved{
   color: rgb(225, 35, 60);
}

