.header__nav,
.movies__container__header,
.footer__nav,
.movie__details__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    padding: 1rem 1rem 0 1.5rem;
}

.movies__container__header{
    padding: 1rem 1rem 1rem 0;
}
.movies__container,
.popular__movies{
  padding: 2rem 0 0 2rem;
}

.movies__list{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}


.icon{
    width: 2rem;
 }


.grey__text{
    color:var(--grey-text-color);
}

.movie__container img,
.popular__movie__img__container img,
.cast__list__img,
.details__body,
.movie__details__info{
    border-radius: 0.5rem;
    box-shadow: 0 0 .25rem hsla(0, 0%, 52%, 0.7);
}
.movie__container{
  min-width:9rem;
}

.movie_popularity_container{
    display: flex;
    gap: 0.5rem;
}


.see__more__btn{
padding: 4px 8px;
border: 1px solid #AAA9B1;
border-radius: 100px;
color: var(--grey-text-color);
}

/*    -------------------------------POPULAR SECTION------------------------------ */

.popular__movies__container,
.popular__movie__raiting,
.popular__movie__duration {
    display: flex;
    gap: 0.5rem;
}

.popular__movie__raiting{
    margin-top: 0.5rem;
}

.popular__movie__duration{
    align-items: center;
}


.popular__movies__list>*,
.popular__movie__info>*{
    margin-bottom: 0.5rem;
}

.popular__movie__img__container{
   width: 5.5rem;
   min-width: 5.5rem;
   max-width: 10rem;
   margin-bottom: 1rem;
}

.popular__movie__genre{
    display: flex;
    gap: 0.25rem;
}
.movie__genres{
    background-color: var(--light-color);
    color: var(--btn-font-color);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    text-wrap: no-wrap;
    font-weight: bold;
}


/* ----------------------------------FOOTER--------------------------- */

footer{
    position: sticky;
    bottom: 0;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 0 .25rem hsla(0, 0%, 52%, 0.7);
}

.footer__icon__svg{
    max-width: 2rem;
    max-height: 2rem;
    
 }

 .movie__icon{
    height: 2.5rem;
    width: 2.5rem;
 }